{% extends "base.html" %}
{% block title %}Codigo Alimentario Argentino{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
<div class="container">
    <div class="card" style="margin-top: 10px; width: 100%;">
        <div class="card-header" style="background-color: rgb(6, 232, 248); color:rgb(37, 37, 37); font-size: 18px;">
            Productos Lacteos
            <!-- {% block boton-crear %}<a href="#" class="btn btn-outline-warning btn-sm boton-crear">Nuevo registro</a>{% endblock %} -->
        </div>
        <div class="card-body">
            <table id="miTabla" class="display compact" style="font-size: 11px;">
                {% if alimentos %}
              <thead>
                  <tr>
                      <th>Tipo Alimento</th>
                      <th>Denominacion</th>
                      <th>Articulo C.A.A.</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                {% for alimento in alimentos %}
                  <tr>
                      <td>{{alimento.tipo}}</td>
                      <td>{{alimento.nombre}}</td>
                      <td>{{alimento.caa}}</td>
                      <td>
                        {% if alimento.norma %}  
                        <a href="{{alimento.norma.url}}" class="btn btn-primary btn-sm" target="_blank">Ver</a>
                        {% endif %}
                      </tr>      
              </tbody>
              {% endfor %}
              {% else %}
              <h3>No hay registros cargados en el sistema</h3>
              {% endif %}
        </div>
          </table>
    </div>
    
</div>
<a class="btn btn-primary btn-block botonPrincipal" href="{% url 'index' %}">Volver al Menu Principal</a>
{% endblock %}