{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}|nueva_auditoria{% endblock %}

{% block content %}
<div class="container">
    <div class="card" style="margin-top: 10px; width: 100%;">
        <div class="card-header" style="background-color: rgb(6, 232, 248); color:rgb(37, 37, 37); font-size: 18px;">
            Realizar nuevo control de agua
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}