{% extends 'base.html' %}
{% block title %}|Datos de Empresa{% endblock %}
{% block content %}
<div class="container">
  <div class="card">
    <h2 class="card-header" style="background-color: rgb(6, 232, 248); color:rgb(37, 37, 37); font-size: 18px;">{{object.nombre|upper}} - Numero Oficial: S-I-{{object.numero|upper}}</h2>
    <div class="card-body">
            <div>
                <h3 style="display: inline;"><span class="sub-titulo-direccion">Localidad:</span>&nbsp;<span class="dato-empresa">{{object.localidad|upper}}</span> - <span class="sub-titulo-direccion">Direccion:</span>&nbsp;<span class="dato-empresa">{{object.domicilio|upper}}</span></h3>      
            </div>
        <hr>
        <h3 class="sub-titulo-card" style="display: inline;">Jefe de Planta:</h3>&nbsp;<span class="dato-empresa">{{object.jefe_planta|upper}}</span>
        <br>
        <h3 class="sub-titulo-card" style="display: inline;">Responsable de Inocuidad:</h3>&nbsp;<span class="dato-empresa">{{object.resp_inocuidad|upper}}</span>
        <br>
        <h3 class="sub-titulo-card" style="display: inline;">Jefe de Servicio Oficial:</h3>&nbsp;<span class="dato-empresa">{{object.jefe_servicio_sanitario|upper}}</span>
        <hr>
        <!-- <h3 class="sub-titulo-card">Grupos Tecnologicos</h3>
        {% for grupo in empresa.grupos_id.all%}
        <span class="dato-empresa">{{grupo}}</span>
        {% endfor %} -->
        <h3 class="sub-titulo-card" style="display: inline;">Grupos Tecnologicos:</h3>&nbsp;<span class="dato-empresa">{{empresa.grupos_id.all|join:" - "|upper}}</span>
        <br>
        <h3 class="sub-titulo-card" style="display: inline;">Productos que se elaboran:</h3>&nbsp;<span class="dato-empresa">{{empresa.productos_id.all|join:" - "|upper}}</span>
        <br>
        <h3 class="sub-titulo-card" style="display: inline;">Paises habilitados para exportar:</h3>&nbsp;<span class="dato-empresa">{{empresa.paises_id.all|join:", "|upper}}</span>
        <br>
        <h3 class="sub-titulo-card" style="display: inline;">Lineas certificadas con HACCP:</h3>&nbsp;<span class="dato-empresa">{{object.lineas_haccp|upper}}</span>
        <br>
    </div>
  </div>
</div>
{% endblock %}