{% extends 'base.html' %}
{% block title %}|Empresas{% endblock %}
  {% block content %}
  <div class="container">
    <div class="card" style="margin-top: 10px; width: 100%;">
        <div class="card-header" style="background-color: rgb(6, 232, 248); color:rgb(37, 37, 37); font-size: 18px;">
            Empresas Lacteas registradas
        </div>
        
        <div class="card-body">
            <table id="miTabla" class="display compact" style="font-size: 13px;">
                {% if empresas %}
              <thead>
                  <tr>
                      <th>Razon Social</th>
                      <th>Numero</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                {% for empresa in empresas %}
                  <tr>
                      <td><a href="{% url 'menu' empresa.id %}">{{empresa.nombre|upper}}</a></td>
                      <td>S-I-{{empresa.numero|upper}}</td>
                      <td>
                        <a href="{% url 'datos' empresa.id %}" class="btn btn-warning btn-sm">Editar Datos</a>
                        <a href="#" class="btn btn-warning btn-sm">Auditorias</a>
                        <a href="#" class="btn btn-warning btn-sm">Agua</a>
                        <a href="#" class="btn btn-warning btn-sm">Plagas</a>
                        <a href="#" class="btn btn-warning btn-sm">Plan CREHA</a>
                        <a href="#" class="btn btn-warning btn-sm">Certificados Inocuidad</a>
                        <a href="#" class="btn btn-danger btn-sm">Desactivar</a>
                      </td>
                    </tr>      
              </tbody>
              {% endfor %}
              {% else %}
              <h3>No hay empresas registradas en el sistema</h3>
              {% endif %}
            </table>
        </div>
    </div>
</div>
  {% endblock %}